@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Kurale&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=Baloo+2:wght@400..800&family=Bungee+Spice&family=Kurale&family=Pacifico&family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=Baloo+2:wght@400..800&family=Bungee+Spice&family=Kurale&family=Pacifico&family=Patua+One&family=Rye&display=swap");

.mhead {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.mhead2 {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.mhead3 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}
